<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Book</title>
    
</head>
<body>
    <h1>Search Book</h1>
    <form id="searchForm">
        <label>ID:</label><input type="text" id="searchId" required><br><br>
        <button type="submit">Search</button>
    </form>
    <p id="searchMessage"></p>
    <div id="searchResult"></div>

    <script src="../controller/search.js"></script>

</body>
</html>
