<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Sorting</title>

</head>

<body>
    <h1>Sorting</h1>
    <form id="addForm">
        <label>Array unsorted: </label><input type="text" id="arrayUnsorted" required><br><br>
        <br>
        <button type="submit" class="btnAdd">Add</button>
    </form>
    <p id="message"></p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Unsorted array</th>
                    <th>Size</th>
                    <th>Sort Algorithm</th>
                    <th>Sorted</th>
                </tr>
            </thead>
            <tbody id="sortingTable"></tbody>
        </table>
    </div>

    <script type="module" src="../controller/add.js"></script>
</body>

</html>