Software Requirements
Specification


for


<SureFinventory-Detailed Control Application>
  

Version 0.1




Prepared by <Esteban, Matias, Abner & Benjamin>




<JABAS team>




<November 10th 2024>














Copyright © 1999 by Karl E. Wiegers. Permission is granted to use, modify, and distribute this document.


Table of Contents
Table of Contents        2
Revision History        2
1. Introduction        1
1.1 Purpose        1
1.2 Document Conventions        1
1.3 Intended Audience and Reading Suggestions        1
1.4 Product Scope        1
2. Overall Description        2
2.1 Product Perspective        2
2.2 Product Functions        2
2.3 Operating Environment        3
2.4 Design and Implementation Constraints        3
2.5 User Documentation        3
2.6 Assumptions and Dependencies        4
3. External Interface Requirements        4
3.1 User Interfaces        4
3.2 Hardware Interfaces        4
4. Other Nonfunctional Requirements        5
4.1 Performance Requirements        5
4.2 Security Requirements        6
4.3 Software Quality Attributes        6
4.4 Business Rules        6
5. Other Requirements        6
Appendix A: Glossary        6
Appendix B: Analysis Models        6
Appendix C: To Be Determined List        7
Revision History


Name
	Date
	Reason For Changes
	Version
	

	

	

	

	

	

	

	

	





1. Introduction


   1. Purpose


The purpose of the following document is to define and structure the software requirements for the SureFinventory application, where we will explain the following:


1. Establish the functional requirements for SureFinventory to provide user authentication, inventory management, cash closing, basic accounting management and generate monthly reports.
2. Describe the non-functional requirements that ensure a secure, accessible, intuitive and customizable user experience, with language configuration options (English and Spanish) .
3. Delimit the scope of the system to specify that this application will cover the daily operations of the cafeteria, facilitating control and decision making.


   2. Document Conventions


As the main source of requirements we use the book Clean Code, the author of the book, Robert C. Martin, invites each of the group members to review and analyze our code, following and standard and getting our best work.
   3. Intended Audience and Reading Suggestions


The document is addressed to the profiles involved within the development of the SureFinventory application, we have 3 main recipients within the project, which are:


1. Developers: They are the ones who provide a detailed description of the functional and non-functional requirements necessary for the creation of SureFinventory must read all the specific requirements, focusing on the essential functionalities and quality standards of the system.
2. Project Managers: For managers, it is recommended to start with the introductory and product purpose sections to get an overview of the project scope and objectives.
3. End Users: They can review functional requirements and configurations to understand the application's operation and options.


   4. Product Scope


SureFinventory  is an application designed to comprehensively manage the operations of a cafeteria, improving efficiency in inventory management, cash management and basic accounting control. Its main purpose is to optimize operational and administrative processes, allowing staff to focus on providing better customer service.
2. Overall Description


   5. Product Perspective


SureFinventory is a new, stand-alone product developed specifically to meet the operational and administrative needs of a small to medium-sized coffee shop. Its design responds to the growing demand for digital solutions in the restaurant industry that facilitate daily management, inventory control, cash management, and tracking of accounts and reports. SureFinventory arose from the need of our customers who rely on manual methods or costly and complex solutions to manage their operations. The lack of a tools that combines simplicity with functionality drove the development of this application.
  



   6. Product Functions


1. User Management
* Allow secure login with username and password.
* Configuration of user permissions according to specific roles (administrator, employee, etc.).


2. Application Configuration
* Allow a settings option to customize the menu’s products and its prices. 




3. Inventory Management
* Easily record and update product inventory.
* Alert on low stock levels, facilitating timely replenishment.


4. Cash Control
* Perform daily cash closings quickly and accurately.
* Generate transaction and cash flow reports for each day.


5. Accounting Management
* Record business income and expenses in a simple way.
* Provide an overview of the cafeteria's finances, including sales and costs.


6. Report Generation
* Create monthly inventory, sales, and cash flow reports.
* Send automatic reports by email to managers
* Allow to show and download a direct report at any time 






   7. Operating Environment


SureFinventory is designed to run in a variety of operating environments, ensuring compatibility with various hardware and software platforms. It requires a device with a minimum Intel Core i3 processor, 4 GB of RAM and 500 MB of free disk space, and the application is compatible with Windows 10 or higher, macOS 10.15 or higher, and Ubuntu 18.04 or later versions of Linux operating systems and is accessible from mobile devices running iOS 12.0 or higher and Android 9.0 or higher. SureFinventory is based on a web platform and is compatible with the most common browsers, such as Google Chrome, Mozilla Firefox, Microsoft Edge and Safari on Apple devices.


   8. Design and Implementation Constraints


There are a number of factors that will shape and constrain the design and implementation of SureFinventory. These constraints include corporate policies, hardware limitations, and specific technical requirements, such as:
* SureFinventory must comply with applicable data privacy regulations regarding the handling of user information, especially financial data.
* The application must adhere to internal security and access control policies, ensuring that only authorized users can access sensitive business data.
* The application must be designed to run on devices with a minimum storage specification and if it does not meet these specifications, the application will not be able to run and cannot be used by the customer.




   9. User Documentation


* User Manual: will be delivered with functionalities about the program and how to use them. This manual has the purpose of teaching users on their way to use our software.
* Programmer Manual: aimed at the team and other developers that may join the project on future versions.
   1. Assumptions and Dependencies


* The aim of the project may change, these changes rely on the knowledge learned by the developers in the OOP (Object Oriented Programming) class. We assume that the requirements in this document are aligned with our abilities, yet it is possible that we find advanced programming related problems we might not be able to solve.


3. External Interface Requirements


   2. User Interfaces


We won’t be using a web application. Therefore there is no need for external interface requirements. 
Anyways we are using GPU in our project but inside our desk app. 


   3. Hardware Interfaces

This App will be running and working on any pc due to javas’s multi platform tools

   4. Communication Interfaces 

A communicative tool with the user's email will be needed and implemented. 
 










      4. Other Nonfunctional Requirements


      5. Performance Requirements


      * The software must be useful for daily work;
      * About the data performance, an application that can save several amounts of data is needed, so it's important to find an efficient way to save and pull data in a database located at the computer where the app will be running. 
      * Talking about the users traffic, we just need the app to perform with one user at a time. 
      * The focus in the performance requirement is essentially, the speed at managing data.
      * Customize the interface according to user preferences.
      * Change the application language between English and Spanish to suit users.
      * Use turquoise and red as their brand colors at the app’s design.






      6. Security Requirements


The application requires to have different types of users, including an admin that can control everything in the system. Also is needed to have backups for the data and versions to retrieve in case of any human failure when using the platform.


      7. Software Quality Attributes


In this aspect the software needs to be intuitive for the user. Usefulness is the main objective in this project so the quality is going to adapt to these terms.


      8. Business Rules


The business follows the accounting rules established by SRI in the regimen of RIMPE.


      5. Other Requirements
There may be an attempt to use a simple database for the user
Appendix A: Glossary


Appendix B: Analysis Models


Appendix C: To Be Determined List


Second Interview 
Good evening, Mrs. Mayra.
I’m here to ask you some questions regarding the previous interview we had. I need to fill out some more information. Now, I need a bit more specific information, as I mentioned in the message.
I would like to know what processes you follow here and also, based on those processes, what requirements you would need the app to handle for you.
To do that, I would need to understand the processes you have in place. For example, how do you manage the accounting for the day?
How do you enter the daily orders? Let’s start there.
Good evening. As I explained last time, we do everything manually. We have sales notes and order notes.
So, in the order notes, we take all the customer orders, and that’s how we keep a sales record. Then, we use a notebook in which we manually record all the sales of the day, and we do a cash closing where we detail sales by card, cash, or transfers.
And, well, we also record any expenses depending on the day, for example, purchases of products required by the cafeteria, but this can vary because, in general, we make purchases once a week.
And this is also recorded manually.
Where do you make the purchases, Mrs. Mayra?
We use several methods. Some products are delivered to us, and payments are made via transfer. For other products, I go to the supermarket to buy them, and, well, I also record those purchases.
And I also order online and have the products delivered here.
In this case, would you have the documentation, such as receipts, transfers, or card statements, for the products you purchase?
Yes, I have all the invoices, exactly.
Okay, perfect. I would need your help to provide this information so I can enter the expenses into the app.
It would really be independent of the payment method, but rather just the amount of the expense for the purchases made.
So, apart from pantry items, what other expenses do you have?
Well, we have direct and indirect expenses. Direct expenses include products required by the cafeteria, employee salaries, and also the payments for basic services, like water and electricity.
Is the location owned or rented?
No, it’s rented.
Okay, so that would be an additional cost too.
Yes, of course.
And do you also have costs related to renovations or repairs within the premises?
Yes, for example, we also have maintenance expenses for the cafeteria and the premises, and we also process documents, such as with the SRI (Tax Authority), which is annual.
We also do renovations, and sometimes we sell products or items we have here, so we also need to replace that space.
Okay, but at the moment, do you not specify the expenses separately? You group them all together and then subtract them from the income? How do you report your final monthly income and expenses?
No, we detail our direct and indirect expenses. For example, maintenance and renovation costs are indirect expenses that the cafeteria incurs, and those are necessary.
At the moment, are you keeping track of this in Excel or...?
Everything is manual. Everything is done manually.
Okay, I recall you mentioned an accounting book—could you send me the format you use?
Yes, we keep a record of only the most relevant things, like the direct expenses the cafeteria needs.
Alright, I now have a clearer idea of what we would need for the app.
I’d also like to know, in terms of inventory, which products should be tracked?
I understand you have a lot of products coming in and out, so what are the finished products that should be tracked?
For example, how many cakes or coffee do you have? Could you tell me which products need to be inventoried to have more precision?
Yes, the dishes are specific, so we do an inventory of all the products and also track them with the purchases we make online.
For example, I buy packs of a dish we have on the menu, which is the "portavelos."
I know that each pack has three portavelos, and I buy four packs a week, once a week, so I know how many will be sold.
So, in that way, I keep track. On weekends, I also do a detailed record of the weekly sales to know which products I’ve sold.
Okay, you mentioned an Excel sheet before. Could you share that with me?
Yes, we have an Excel sheet where we track the products we have in the cafeteria. No problem.
Perfect, I think that’s basically the information I need.
We now know where you buy products, how payments are made, and how you’ve been managing things so far.
So, what I understand is that you need a basic report, correct?
I would also like to know, by the end of the month, do you know your net income or your profits, or have you had trouble identifying that benefit?
The truth is, it’s complicated for me. I’ve only managed it weekly, but I haven’t done a monthly report. The people who work here help me, but it’s very basic.
Now, let’s get into specifics. What would you need the app to do?
It’s mostly for inventory management and also for the orders. For example, when a customer comes in and orders a cappuccino, the staff sometimes says, "Let’s note it down," but for one order, they use a comanda. It’s quite informal, and it can’t be managed this way. The app would help visualize and track everything properly.
Would you need the app to have a username and password?
Yes.
And should there be profiles, one for the administrator and one for employees, or would it be just for you?
I think both would be necessary.
Yes, that would be fine.
Perfect. We could also add features like inventory management, sales tracking, and updates.
As I understand, you make purchases weekly, so we could have a report before each purchase to show which products are running low. Would that be useful?
Yes, that way we can check which products are running out and which ones have been sold because we don’t keep track of that at the moment.
Okay, based on our previous conversation, I’ve compiled a list of what would be necessary to solve this.
The app should have an interface for entering daily orders, allowing you to close the cash register, showing the amount that should be in the cash drawer, the sales by card, and everything. This would make it easier to close the cash.
It should also be connected to a database that can break down basic accounting, showing income and expenses, and generating a monthly report, which I believe you requested.
Yes.
Also, since I understand you are about to change the menu, it would be important to modify the product costs and the menu itself.
It wouldn’t be practical for me to make all the changes. It should be intuitive and easy for you to enter the settings and change the product prices if that works for you.
Yes. I would totally need to be able to change the product’s price and the menu’s products. We often change that.   
Apart from all that, those would be the main functions of our program. I’d like to ask if there’s a specific color you’d like the app to have.
We use turquoise and red as our brand colors.
Perfect, turquoise and red it is.
Would you prefer the app to be in any specific language?
Yes, it’s important for it to be available in both English and Spanish.
Great, we can set up a language toggle between English and Spanish.
If possible, there will also be design customization options, but language switching seems very feasible.
Putting all that together, I think I now have a solid list of requirements, and I have the necessary information.
I just need the rest of the details that we agreed to follow up on, such as how you manage everything manually, so we can prepare a format for automating these processes.
Procedures